body{
    background-color: aquamarine;
    position: absolute;
    top: 30%;
    left: 30%;
    
}
h2{
    text-align: center;
    font-size: xx-large;
}


#text-input{
    width: 200px;
    height: 45px;
    font-size: large;
}
button{
    width: 80px;
    height: 45px;
    cursor: pointer;
    background-color: black;
    color: aliceblue;
    border-radius: 8px;
    
}
